.locations {
    position: relative;
    padding-top: 363px;
    padding-bottom: 63px;
    background-color: #FFF5F6;
}

.locations__item {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -20%);
    width: 220px;
    height: 427px;
    border-radius: 24px;
    padding: 43px 21px;
    background-color: #fff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.locations__item2 {
    width: 220px;
    height: 427px;
    border-radius: 24px;
    padding: 43px 21px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.locations__item3 {
    width: 220px;
    height: 427px;
    border-radius: 24px;
    padding: 43px 21px;
    margin: 20px auto 0 auto;
    background-color: #fff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
.locations__title {
    width: 80px;
    height: 16px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    @include flex-center;
    color: #ffffff;
    padding: 3px 10px;
    background-color: #F0D1A5;
}

.locations__title2 {
    width: 130px;
    height: 16px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    @include flex-center;
    color: #ffffff;
    padding: 3px 10px;
    background-color: #C2E297;
}

.locations__city {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    margin-top: 20px;
}

.locations__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907E82;
    margin-top: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
}

.locations__work-days1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    margin-top: 25px;
}

.locations__work-hours1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #FFA5BA;   
}

.locations__work-days2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    margin-top: 10px;
}

.locations__work-hours2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #FFA5BA;
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
}

.locations__contacts a {
    margin-top: 25px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907E82;
}

.locations__phone {
    margin-top: 25px;
}

.locations__button {
    width: 161px;
    height: 44px;
    border-radius: 22px;
    display: block;
    margin: 54px auto 0 auto;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    @include flex-center;
    text-align: center;
    color: #D41342;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        color:#FFFFFF;
        background-color: #D41342;
    }
}

.locations__button2 {
    width: 161px;
    height: 44px;
    border-radius: 22px;
    display: block;
    margin: 10px auto 0 auto;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: #D41342;
    border: none;
    @include flex-center;
    cursor: pointer;

    &:hover,
    &:focus {
        color: #FFFFFF;
        background-color:#D41342 ;
        }
}

.locations__icon {
    margin-top: 3px;
    margin-left: 7px;
}

