:root {
    --primary-text-color: #212121;
    --secondary-text-color: #FFA5BA;
    --primary-background-color: #ffffff;
    --secondary-bgc: #FFB8CA;
    --headings-red-color: #D41443;
    
   
    
  
   
}